@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fontsource/bai-jamjuree";
@import "animate.css";

/* @font-face {
    font-family: "Bai Jamjuree";
    src: url(fonts/SanFranciscoText-Light.otf);
  } */

@font-face {
    font-family: Lustria;
    src: url(../fonts/Lustria/Lustria-Regular.ttf) format('truetype');
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/RobotoFlex-Regular.ttf) format('truetype');
}

@font-face {
    font-family: Valky;
    src: url(../fonts/NVN_Valky/NVNValky-Light.ttf) format('truetype');
}

@font-face {
    font-family: Anek_Latin;
    src: url(../fonts/Anek_Latin/AnekLatin-Light.ttf) format('truetype');
}

.Anek_Latin {
    font-family: Anek_Latin;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

.Valky {
    font-family: Lustria;
}

:root {
    --primary-link: #4C1410;
    --primary: #85512B;
    --white: #FFFFFF;
    --text-primary: #85512B;
    --text-secondary: #636363;
    --text-gray: #B6A4A4;
    --white-color: #fff;
    --black-color: #000;
    --text-green: #05A84B;
    --bg-fillter: rgba(0, 0, 0, 0.5);
    --bg-hover: #f0f0f6;
    --bg-lightBlue: #E8EEF4;
}

@import "./common.css";
@import "./home.css";
@import "./cart.css";
@import "./about.css";
@import "./login.css";
@import "./swiper.css";
@import "./dashboard.css";
@import "./loadding.css";


body {
    font-family: Roboto;

   overflow-x: hidden;
}



pre {
    font-family: "Bai Jamjuree";
}



.btn-footer {
    position: relative;
}

.btn-footer::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    display: block;
    border: 3px solid #2F2D38;
    border-radius: 32px;
    z-index: 0;
}

.btn-banner {
  position: relative;
}

.btn-banner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  display: block;
  border: 1px solid #2F2D38;
  border-radius: 300px 300px 0 0;
  z-index: 0;
}

.iframeVideo {
  position: inherit;
}

.image-scale {
  
}